@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Financier Display";
  src: url("/fonts/FinancierDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Financier Display";
  src: url("/fonts/FinancierDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Financier Display";
  src: url("/fonts/FinancierDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Financier Display";
  src: url("/fonts/FinancierDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Financier Text";
  src: url("/fonts/FinancierText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Financier Text";
  src: url("/fonts/FinancierText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Financier Text";
  src: url("/fonts/FinancierText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root{
  --primarycolor:   #003F2D;
  /* --swiper-theme-color: #0058be; */

}

.group .swiper-button-next,
.group .swiper-button-prev {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* Show arrows on card hover */
.group:hover .swiper-button-next,
.group:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}

/* Common style */
.group .swiper-button-next,
.group .swiper-button-prev {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  color: var(--primarycolor);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Arrow icon size */
.group .swiper-button-next::after,
.group .swiper-button-prev::after {
  font-size: 14px;
  font-weight: bold;
}

/* Left Arrow */
.group .swiper-button-prev {
  left: 10px;
  /* right: 10px; */
  position: absolute;
  z-index: 9999;
  top: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.group .swiper-button-prev svg{
  transform: rotate(180deg);
}
.group .swiper-button-prev svg, .group .swiper-button-next svg{
width: 14px;
height: 14px;
}

/* Right Arrow */
.group .swiper-button-next {
  right: 10px;
  position: absolute;
  z-index: 9999;
  top: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.service-image{
  position: relative;
}
.service-image::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, transparent 50%, var(--primarycolor) 85.48%);
    z-index: 1;
}
.service-image::after{
 content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.service-image:hover:after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
/* .card-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-lift:hover {
  transform: translateY(-4px);
  border-color: color-mix(in oklab, var(#142840) 22%, transparent);
  box-shadow: 0 22px 40px -28px color-mix(in oklab, var(--ink) 70%, transparent);
} */

.card-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-lift:hover {
  box-shadow: 0 45px 32px -10px rgba(10, 17, 26, 0.18);
  transform: translateY(-4px);
  border-color: color-mix(in oklab, var(#142840) 22%, transparent);
  /* box-shadow: 0 28px 40px -20px color-mix(in oklab, var(--ink) 35%, transparent); */
}
.swiper-navigation-icon{
  color: var(--primarycolor);
}
/* .swiper-button-next, .swiper-button-prev {
        background-color: #2c6051;
        font-size: 12px;
        padding: 14px;
        border-radius: 32px;
      }
      .swiper-button-next svg, .swiper-button-prev svg{
  color: #ffffff !important;
  
} */